<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <form action="/create" method="get">
        <label>
        Id:<input name="Id" type="text" />
        </label><br />
        <label>
        NewsTitle:<input name="NewTitle" type="text" />
        </label><br />
        <label>
        PublishDate:<input name="PublishDate" type="text" />
        </label><br />
        <label>
        Image:<input name="Image" type="text" />
        </label><br />
        <label>
        Content:<input name="Content" type="text" />
        </label><br />
        <label>
        Author:<input name="Author" type="text" />
        </label><br />
        <input type="submit" value="Save" />
        <input type="reset" value="Reset" />
        </form>
</body>
</html>